<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>MdEditor Template</title>

        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="styles.css"/>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper" class="">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a id="ember479" href="#" >md<span class="icon-mdeditor"></span>ditor</a>
                    </li>
                    <li id="sidebar-lists">
                        <div class="panel-group">
                            <div id="ember499" class="ember-view panel">
                                <div class="panel-heading clearfix" id="500-list-heading">
                                    <a id="ember501" href="/contacts/new" class="btn btn-success btn-xs pull-right ember-view">Add</a>
                                    <h4 class="panel-title bg-primary"> <a class="" data-toggle="collapse" aria-expanded="true" href="#500-list" aria-controls="500-list">Contacts (4)</a> </h4>
                                </div>
                                <div class="panel-collapse collapse in" role="tabpanel" aria-expanded="true" id="500-list" aria-labelledby="500-list-heading">
                                    <div class="list-group">
                                        <div class="list-group-item" draggable="true">
                                            <a id="ember531" href="/contacts/70ca9abe-9f5f-45d3-a1e5-f6571ec166ea/edit" class="btn btn-warning btn-xs pull-right ember-view">Edit</a>
                                            <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
                                            <a class="sidebar-row"><span class="fa fa-users"> USGS</span> </a>
                                        </div>
                                        <div class="list-group-item" draggable="true">
                                            <a id="ember772" href="/contacts/c8b7af37-2b19-4dc6-b576-0c315b472d55/edit" class="btn btn-warning btn-xs pull-right ember-view">Edit</a>
                                            <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
                                            <a class="sidebar-row"><span class="fa fa-user"> Josh Bradley</span> </a>
                                        </div>
                                        <div class="list-group-item" draggable="true">
                                            <a id="ember782" href="/contacts/6c8e9abf-073c-4ad1-a5a9-3693626d2b05/edit" class="btn btn-warning btn-xs pull-right ember-view">Edit</a>
                                            <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
                                            <a class="sidebar-row"><span class="fa fa-user"> Stan Smith</span> </a>
                                        </div>
                                        <div class="list-group-item" draggable="true">
                                            <a id="ember791" href="/contacts/6b388bde-af33-4498-857b-a435a9731859/edit" class="btn btn-warning btn-xs pull-right ember-view">Edit</a>
                                            <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
                                            <a class="sidebar-row"><span class="fa fa-users"> Arctic Landscape Conservation Cooperative</span> </a>
                                        </div>
                                    </div>
                                    <!-- <div class="panel-footer">
                                    <button>More</button>
                                    </div> -->
                                </div>
                            </div>
                            <div id="ember548" class="ember-view panel">
                                <div class="panel-heading clearfix" id="549-list-heading">
                                    <a id="ember550" href="/records/new" class="btn btn-success btn-xs pull-right ember-view">Add</a>
                                    <h4 class="panel-title bg-primary"> <a class="" data-toggle="collapse" aria-expanded="true" href="#549-list" aria-controls="549-list">Metadata Records (3)</a> </h4>
                                </div>
                                <div class="panel-collapse collapse in" role="tabpanel" aria-expanded="true" id="549-list" aria-labelledby="549-list-heading">
                                    <div class="list-group">
                                        <div class="list-group-item">
                                            <a id="ember576" href="/records/290259a8-8583-4a08-a660-e2ad1ed35c82/edit" class="btn btn-warning btn-xs pull-right ember-view">Edit</a>
                                            <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
                                            <a class="sidebar-row"><span class="fa fa-wrench"> My Project</span> </a>
                                        </div>
                                        <div class="list-group-item">
                                            <a id="ember833" href="/records/22b7ba3e-7c5b-4175-b90b-80eee95328f6/edit" class="btn btn-warning btn-xs pull-right ember-view">Edit</a>
                                            <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
                                            <a class="sidebar-row"><span class="fa fa-table"> Some Data Table</span> </a>
                                        </div>
                                        <div class="list-group-item">
                                            <a id="ember889" href="/records/4c790110-299e-46d1-9ca5-13678a6e1a15/edit" class="btn btn-warning btn-xs pull-right ember-view active">Edit</a>
                                            <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
                                            <a class="sidebar-row"><span class="fa fa-wrench"> Another Project</span> </a>
                                        </div>
                                    </div>
                                    <!-- <div class="panel-footer">
                                    <button>More</button>
                                    </div> -->
                                </div>
                            </div>
                            <div id="" class="ember-view panel">
                                <div class="panel-heading clearfix" id="5490-list-heading">
                                    <a id="" href="/records/new" class="btn btn-success btn-xs pull-right ember-view">Add</a>
                                    <h4 class="panel-title bg-primary"> <a class="" data-toggle="collapse" aria-expanded="true" href="#5490-list" aria-controls="5490-list">Dictionaries (1)</a> </h4>
                                </div>
                                <div class="panel-collapse collapse in" role="tabpanel" aria-expanded="true" id="5490-list" aria-labelledby="5490-list-heading">
                                    <div class="list-group">
                                        <div class="list-group-item">
                                            <a id="" href="/records/290259a8-8583-4a08-a660-e2ad1ed35c82/edit" class="btn btn-warning btn-xs pull-right ember-view">Edit</a>
                                            <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
                                            <a class="sidebar-row">Sample Table </a>
                                        </div>
                                    </div>
                                    <!-- <div class="panel-footer">
                                    <button>More</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div id="md-navbars">
                    <div class="navbar navbar-inverse navbar-top" id="md-navbar-main">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-collapse" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><span class="icon-mdeditor"></span></a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-main-collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a id="" href="/" ><span class="fa fa-dashboard"></span> Dashboard</a>
                                </li>
                                <li>
                                    <a id="" href="/" ><span class="fa fa-floppy-o"></span> Save</a>
                                </li>
                                <li>
                                    <a id="" href="/" ><span class="fa fa-sign-in"></span> Import</a>
                                </li>
                                <li>
                                    <a id="" href="/" ><span class="fa fa-retweet"></span> Translate</a>
                                </li>
                                <li>
                                    <a id="" href="/" ><span class="fa fa-share-square-o"></span> Publish</a>
                                </li>

                            </ul>
                            <form class="navbar-form form-inline navbar-right">
                                <div class="form-group">
                                    <label class="navbar-text control-label">Profile</label>

                                    <select class="form-control">
                                        <option>Project</option><option>Dataset</option><option>Spatial</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>

                    <ul id="md-navbar-secondary" class="nav nav-pills">
                        <li>
                            <a id="" href="/" > Keywords</a>
                        </li>
                        <li>
                            <a id="" href="/" > Spatial</a>
                        </li>
                        <li>
                            <a id="" href="/" > Quality</a>
                        </li>
                        <li>
                            <a id="" href="/" > Distribution</a>
                        </li>
                        <li>
                            <a id="" href="/" > Associated</a>
                        </li>
                        <li>
                            <a id="" href="/" > Documents</a>
                        </li>
                        <li>
                            <a id="" href="/" > Dictionaries</a>
                        </li>
                        <li>
                            <a id="" href="/" > Coverage</a>
                        </li>
                        <li>
                            <a id="" href="/" > Grid</a>
                        </li>
                    </ul>

                </div>

                <div id="page-content" class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 col-sm-12">
                            <h4>You are editing <em>My Project</em></h4>
                            <p>
                                歳位注波読曲都素薔次銀知都命響駿上燦済。般北精後一況国情理新始事。添絡考世戸属応徹容所県質自込島。秒及禁除仙委里校現早事規覧。和真内圧覚掲表設担大期地女。首開真知連撃関議公州説止医。写金校答意協軽見方視者鈴報部。舵美坂切社望相地芸持北術人本出協。情再児告顔航図省品扁全現。新期芝秀東帯球医最奈工暮載日確芸児性分台。
                            </p>
                            <p>
                                遅連両暁抗批拡亡誰南橋刊仕谷題張。構仮利知申家機病向投岩家断熱投王予油。提苦場提田士大女観委毎況上一何京更告。検分初者備通陣返朝五全一写読野掲純潟止。代円罵豊非園周光稿転発警。支官問変響続葉読表熱惑濃想。隊次皇兼意飛詳御詩向日宅著囲吹禁浴。在面日見街江列内終物制丘泉引肢物。北鼓社目政式合威絞葉提応重康月壮間合。
                            </p>
                            <p>
                                質入合因前図込次貫紙年議談歌価期止。択欧濃今線音手際携件可識大景受室血理需目。市月離明故甘円昨済人全著関高択明供。第助辞端理速基暮組茨学上中一内戻長速校。開球掲人問済阿楽規芸後表改。藤試猫細問変十相違許娘暮追。装場業穫是要後工報陸学望着欧併職民進。要曹年国学連無議女変付米月第品。熱左南用米生警河様同員的氏証際雪新前。
                            </p>
                            <p>
                                手索有暮指洋積極関携年況者王児団質月長。録辺講権智経草変抜古和表。世外文両禁道読公直友目保正崎載花別性。意無毎無案期子蕉三採内初治千車水菊覚化。治購多警住動報万済体載玉論鈴身滞愛知攻東。雲敬戦官覧銀供砲作提論申続美。械止齢全乗田手当安言時作奥道遊連太品。教所流祈都自付暮吉岩禁紙。問色加慰員業味記矢写図認帰郵話重。
                            </p>
                            <p>
                                終権並検要枝壮提円温済昇研載報天経同氏。本本月文堀選面玲情船重見選入。報味健火格栄遂根室掲体対断報新地明一抗根。音策湿野吹島治才時覧要能無蒸堂実撃真年。写景禁見編現頭美長本負段限野織。葉地中響全他文横必天際碁井日月紙床。募指迫文話洋朝高米西銀表分将九念相。能実育講理場今子雲日経列協的多氏。稼暮見因意要信慶三模保若算。
                            </p>
                            <p>
                                家無心治毒左芸手案真究含市食日認明落。全作非州加杯用覧円子破萬殖対町取。要国今線属見面文広展府商下能業子画教位好。在鎌字図激来会上氷来終福周加作子平遺。労性僧野報乱展治天議事由済愛理吉。毎需都直見細返企新戦並係文社軒強日。前問同内面態負紙修退目新。町権表川康特作株真位石委中著効表資狙写者。北中処投自完盟園毒線悩封告。
                            </p>
                            <p>
                                無必回第蓄書載村荘営全丈盤勝。家知盗調迫川育来桜容退型準井琵社根育蔵活。裁暮転図拝訴知一評際価三藤政断今営集。柳今禁回済外自止旅豊人政供別武提一予見幌。同健料上社止領違夜技漢寿道等康絵問験連。読司比早月後奪海面月見測。強手週計関構話権表果斉金。平別究撤都負水内断無一味。超緒裁遣惑済県多号明党先。
                            </p>
                            <p>
                                全天社角術近通投点企夜味旅森臣春碁。健格政将去図責特周性更写週盤読念営改目。活話恥緊緩竹固約授阜回一声川能暮検。地風堀王高取撃万映来五指文橋注索著。戦航際供協節未資夢潮野査万速事半文継国都。肌前掲憶日裁詳高巨天北治時人要投討展心。意監経愾載決宣職横提期治断。展込況法芸天郎基止能見多経四属分基。
                            </p>
                            <p>
                                都撲拠化内退日日問降務定効暮。基写運年済給上度強後禁見資紙。三禁面覧目民量応情由運条談報意。湯省諸光慨津運分成場資厳。者開額治転豪続留要底極人中知放腹努。芸敗国得込記図学町全最求反。知文悪見風長体文方舞最択本吉穫清。強遣東文面事沸屋実止統番判義。医足将旧募春研度笑子南一相結事京道。学譲陸倉弱無防竜写文待際。
                            </p>
                            <p>
                                桐団面能際極京新球煮対全神行効隣側読。能氏聞機是済大格真界報製国極国能新危報品。皇雪一払政待訪浜秩北点的暮理輝花表。負代映時亜円五供文衛保着要投松早穂図所改。読規通味知利治責素校脳期両断景抵。即界中警謙色扇誉短公聞焦湾止。名約投基引氷詳月日植意影鉄証名員止。磁別旅期拠切本南化顔落止。駅髄条感面利申喜良治応告月題港直。
                            </p>
                            <p>
                                歳位注波読曲都素薔次銀知都命響駿上燦済。般北精後一況国情理新始事。添絡考世戸属応徹容所県質自込島。秒及禁除仙委里校現早事規覧。和真内圧覚掲表設担大期地女。首開真知連撃関議公州説止医。写金校答意協軽見方視者鈴報部。舵美坂切社望相地芸持北術人本出協。情再児告顔航図省品扁全現。新期芝秀東帯球医最奈工暮載日確芸児性分台。
                            </p>
                            <p>
                                遅連両暁抗批拡亡誰南橋刊仕谷題張。構仮利知申家機病向投岩家断熱投王予油。提苦場提田士大女観委毎況上一何京更告。検分初者備通陣返朝五全一写読野掲純潟止。代円罵豊非園周光稿転発警。支官問変響続葉読表熱惑濃想。隊次皇兼意飛詳御詩向日宅著囲吹禁浴。在面日見街江列内終物制丘泉引肢物。北鼓社目政式合威絞葉提応重康月壮間合。
                            </p>
                            <p>
                                質入合因前図込次貫紙年議談歌価期止。択欧濃今線音手際携件可識大景受室血理需目。市月離明故甘円昨済人全著関高択明供。第助辞端理速基暮組茨学上中一内戻長速校。開球掲人問済阿楽規芸後表改。藤試猫細問変十相違許娘暮追。装場業穫是要後工報陸学望着欧併職民進。要曹年国学連無議女変付米月第品。熱左南用米生警河様同員的氏証際雪新前。
                            </p>
                            <p>
                                手索有暮指洋積極関携年況者王児団質月長。録辺講権智経草変抜古和表。世外文両禁道読公直友目保正崎載花別性。意無毎無案期子蕉三採内初治千車水菊覚化。治購多警住動報万済体載玉論鈴身滞愛知攻東。雲敬戦官覧銀供砲作提論申続美。械止齢全乗田手当安言時作奥道遊連太品。教所流祈都自付暮吉岩禁紙。問色加慰員業味記矢写図認帰郵話重。
                            </p>
                            <p>
                                終権並検要枝壮提円温済昇研載報天経同氏。本本月文堀選面玲情船重見選入。報味健火格栄遂根室掲体対断報新地明一抗根。音策湿野吹島治才時覧要能無蒸堂実撃真年。写景禁見編現頭美長本負段限野織。葉地中響全他文横必天際碁井日月紙床。募指迫文話洋朝高米西銀表分将九念相。能実育講理場今子雲日経列協的多氏。稼暮見因意要信慶三模保若算。
                            </p>
                            <p>
                                家無心治毒左芸手案真究含市食日認明落。全作非州加杯用覧円子破萬殖対町取。要国今線属見面文広展府商下能業子画教位好。在鎌字図激来会上氷来終福周加作子平遺。労性僧野報乱展治天議事由済愛理吉。毎需都直見細返企新戦並係文社軒強日。前問同内面態負紙修退目新。町権表川康特作株真位石委中著効表資狙写者。北中処投自完盟園毒線悩封告。
                            </p>
                            <p>
                                無必回第蓄書載村荘営全丈盤勝。家知盗調迫川育来桜容退型準井琵社根育蔵活。裁暮転図拝訴知一評際価三藤政断今営集。柳今禁回済外自止旅豊人政供別武提一予見幌。同健料上社止領違夜技漢寿道等康絵問験連。読司比早月後奪海面月見測。強手週計関構話権表果斉金。平別究撤都負水内断無一味。超緒裁遣惑済県多号明党先。
                            </p>
                            <p>
                                全天社角術近通投点企夜味旅森臣春碁。健格政将去図責特周性更写週盤読念営改目。活話恥緊緩竹固約授阜回一声川能暮検。地風堀王高取撃万映来五指文橋注索著。戦航際供協節未資夢潮野査万速事半文継国都。肌前掲憶日裁詳高巨天北治時人要投討展心。意監経愾載決宣職横提期治断。展込況法芸天郎基止能見多経四属分基。
                            </p>
                            <p>
                                都撲拠化内退日日問降務定効暮。基写運年済給上度強後禁見資紙。三禁面覧目民量応情由運条談報意。湯省諸光慨津運分成場資厳。者開額治転豪続留要底極人中知放腹努。芸敗国得込記図学町全最求反。知文悪見風長体文方舞最択本吉穫清。強遣東文面事沸屋実止統番判義。医足将旧募春研度笑子南一相結事京道。学譲陸倉弱無防竜写文待際。
                            </p>
                            <p>
                                桐団面能際極京新球煮対全神行効隣側読。能氏聞機是済大格真界報製国極国能新危報品。皇雪一払政待訪浜秩北点的暮理輝花表。負代映時亜円五供文衛保着要投松早穂図所改。読規通味知利治責素校脳期両断景抵。即界中警謙色扇誉短公聞焦湾止。名約投基引氷詳月日植意影鉄証名員止。磁別旅期拠切本南化顔落止。駅髄条感面利申喜良治応告月題港直。
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /#page-content-wrapper -->

        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="main.js"></script>
    </body>
</html>