#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}
#wrapper.toggled {
    padding-left: 275px;
}
#sidebar-wrapper {
    background: #fff none repeat scroll 0 0;
    height: 100vh;
    left: 275px;
    margin-left: -275px;
    overflow-x: hidden;
    position: fixed;
    transition: all 0.5s ease 0s;
    width: 0;
    z-index: 1000;
}
#wrapper.toggled #sidebar-wrapper {
    width: 275px;
}
#wrapper.toggled #sidebar-wrapper .sidebar-brand {
    display: list-item;
}
#wrapper.toggled #md-navbar-main .navbar-brand {
    display: none;
}
@media (min-width: 768px) {
    #wrapper.toggled .navbar-header {
        float: left;
    }
}
#wrapper.toggled #md-navbar-main .navbar-brand {
    display: none;
}
#page-content-wrapper {
    padding: 0 1px 1px;
    position: absolute;
    width: 100%;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: -275px;
    position: absolute;
}
.sidebar-nav {
    background-color: #222;
    height: 100vh;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 53px 0 10px;
    position: absolute;
    top: 0;
    width: 275px;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 0px;
}
.sidebar-nav li .fa, .sidebar-nav li [class^="icon-"] {
    text-indent: 0;
}
.sidebar-nav li a {
    color: #999;
    display: block;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#sidebar-lists a.sidebar-row {
    max-width: 220px;
    padding-left: 10px;
}
.sidebar-nav li > a:hover {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    background-color: #222;
    border-top: 1px solid white;
    display: none;
    font-size: 18px;
    height: 52.5px;
    line-height: 52.5px;
    padding-left: 10px;
    position: fixed;
    top: 0;
    width: 275px;
    z-index: 1000;
}
.icon-mdeditor {
    color: #337ab7;
}
.navbar-inverse .icon-mdeditor:hover {
    color: #ffffff;
}
.sidebar-nav > .sidebar-brand a {
    color: #999;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
}
@media (min-width: 768px) {
    #wrapper #md-navbar-main .navbar-brand {
        margin-left: 0;
    }
    #navbar-main-collapse, #md-navbar-main .container-fluid {
        padding-left: 0;
    }
    #navbar-main-collapse span.md-nav-text {
        display: inline;
    }
}
@media (min-width: 992px) {
    #wrapper {
        padding-left: 275px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 275px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        margin-right: 0;
        position: relative;
    }

    .sidebar-nav > .sidebar-brand {
        display: list-item;
    }
    .navbar-brand {
        display: none;
    }
    #wrapper.toggled #sidebar-wrapper .sidebar-brand {
        display: none;
    }
    #wrapper.toggled #md-navbar-main .navbar-brand {
        display: inline-block;
    }
}

li#sidebar-lists {
    height: 100%;
}

#sidebar-lists .panel-group {
    background-color: #222;
    /* border-bottom: 1px solid #ddd; */
    height: 100%;
    margin: 0 0 15px;
    overflow-x: hidden;
    overflow-y: auto;
}
#sidebar-lists .panel-group .panel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-radius: 0;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-top: 0;
}
#sidebar-lists .panel-group .panel .btn {
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    height: 40px;
    margin: 0;
    padding: 9px;
    text-indent: 0;
    width: 38px;
}
#sidebar-lists .panel-group .panel .btn.btn-primary {
    background-color: #3174af;
}
#sidebar-lists .panel-group .panel .btn.btn-primary:hover {
    background-color: #286090;
}
#sidebar-lists .panel-group .panel .btn-group {
    background-color: #ffffff;
    border-radius: 0;
    margin-right: -1px;
    padding: 0;
}
#sidebar-lists .panel-group .panel-heading {
    padding: 0;
}
#sidebar-lists .panel-group .panel-heading .panel-title a {
    color: #fff;
    line-height: 40px;
    padding-left: 10px;
}
#sidebar-lists .panel-group .panel-heading .panel-title a:hover {
    background-color: #286090;
}
#sidebar-lists .panel-group .panel-heading .panel-title a span::before {
    content: "";
}
#sidebar-lists .panel-group .panel-heading .panel-title a.collapsed span::before {
    content: "";
}
#sidebar-lists .list-group {
    border-top: 0 none;
}
#sidebar-lists .list-group .list-group-item {
    line-height: 40px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#sidebar-lists .list-group .list-group-item:hover {
    background-color: #f0f8ff;
}
#sidebar-lists .list-group .list-group-item .sidebar-row:hover {
    color: #337ab7;
}
#menu-toggle {
    background-color: #000;
    color: #fff;
    margin-right: 1em;
}
#menu-toggle:hover {
    background-color: #222;
}
.message {
    padding: 15px;
}
@font-face {
    font-family: "mdeditor";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/mdeditor.eot?70673711#iefix") format("embedded-opentype"), url("./fonts/mdeditor.woff?70673711") format("woff"), url("./fonts/mdeditor.ttf?70673711") format("truetype"), url("./fonts/mdeditor.svg?70673711#mdeditor") format("svg");
}
[class*=" icon-"]::before, [class^="icon-"]::before {
    display: inline-block;
    font-family: mdeditor;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
}
.icon-mdeditor::before {
    content: "";
}
#wrapper .hint--info.hint--bottom::before {
    border-bottom-color: #337ab7;
}
#wrapper .hint--info::after {
    background-color: #337ab7;
}
#tool-navbar [data-hint]::after {
    white-space: normal;
}
body.relative {
    position: relative;
}
#nav-stacked {
    position: fixed;
}
#nav-stacked li > a:focus {
    background-color: inherit;
}
#nav-stacked li.active > a {
    background-color: #337ab7;
}
#nav-stacked li > a > span {
    display: block;
    padding: 10px 15px;
}
#nav-stacked li > a.no-padding {
    padding: 0;
}
#md-navbars .navbar {
    border-radius: 0;
}
#md-navbar-main {
    margin-bottom: 1px;
}

#md-navbar-main .navbar-form {
    margin: 0;
    padding: 11px;
}
#md-navbar-main .navbar-form .form-control, #md-navbar-main .navbar-form .bootstrap-select button {
    font-size: 13px;
    height: 28px;
    padding: 4px;
}
#md-navbar-secondary {
    background-color: #f0f8ff;
    max-height: 40px;
}
.navbar form label {
    float: none;
    font-weight: 500;
    margin-right: 7px;
    margin-top: 0;
    padding-top: 0 !important;
}
#md-navbars {
    background-color: #ffffff;
    border-top: 1px solid #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#page-content {
    display: none;
    padding-top: 150px;
}
.navbar .divider-vertical {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
    height: 50px;
    margin: 0;
}
.navbar-inverse .divider-vertical {
    border-left-color: #222;
    border-right-color: #444;
}
@media (max-width: 480px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}

@media (min-width: 480px) {
    #navbar-main-collapse .md-nav-text {
        display: none;
    }

    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-form .form-control-static {
        display: inline-block;
    }
    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle;
    }
    .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn, .navbar-form .input-group .form-control {
        width: auto;
    }
    .navbar-form .input-group > .form-control {
        width: 100%;
    }
    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio, .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio label, .navbar-form .checkbox label {
        padding-left: 0;
    }
    .navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }
    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }
}
.navbar-brand {
    padding-right: 0;
}
.breadcrumb {
    font-size: 12px;
    margin-bottom: 0;
}

/*Responsive navbar tooltips*/
div#navbar-main-collapse .tooltip {
    display: none !important;
}

@media (min-width: 481px) and (max-width: 767px) {

    div#navbar-main-collapse li .tooltip {
        display: block !important;
    }
}

#page-content fieldset {
    margin-bottom: 30px;
}

#page-content fieldset .collapse {
    padding: 15px 0px 10px;
    background-color: rgb(240, 248, 255);
}

#page-content legend {
    margin-bottom: 0;
}

#page-content legend a {
    text-decoration: none;
}
#page-content legend a.collapsed span:before {
    content: "\f107";
}

#md-scrollspy ul{
    position: fixed;
}

.nav>li>a:focus {
    background-color: inherit;
    color: #337AB7;
}
